page-login {

    * {
        text-align: center;
        margin-bottom: 1%;
    }
    

    .toolbar-background {
        opacity: 0 !important;
    }

    // 백그라운드
    ion-content {
        background-image: url("../assets/imgs/intro/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    // 로고
    .logo {
        background-position: center;
        width: 75vw;
        height: auto;
        margin-top: 17%;
        margin-bottom: 10% !important;
    }

    // 스킵버튼
    .guest-button {
        background-color: color($colors, custom-red);
        border-radius: 2vw;
        width: 80vw;
        height: 9vh;

        // 폰트
        color: white;
        font-size: 2rem;
    }
    .guest-button:active {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid color($colors, custom-red);

        // 폰트
        color: color($colors, custom-red);
    }
    .guest-icon {
        text-align: left !important;
    }

    
    form{
        margin-top: 20%;
        ::-webkit-input-placeholder {
            color: white;
            font-weight: 100;
            font-size: 1.8rem;
        }

        input{
            display: block;
            margin-bottom: 3% !important;

            color: white;
            font-size: 2rem; 
            font-weight: 400;

            border-radius: 2vw;
            border: 2px solid white;
            background-color: rgba(0, 0, 0, 0);
            width: 80vw;
            height: 9vh;
            
            margin-left: auto;
            margin-right: auto;

            transition-duration: 0.25s;
            
            &:focus{
                border: 2px solid color($colors, custom-red);
            }
        }
        
        button{
            background-color: color($colors, custom-red);
            color: white;
            border-radius: 2vw;
            width: 80vw;
            height: 9vh;
            font-size: 2rem;
            transition-duration: 0.25s;
            
            &:active{
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid color($colors, custom-red);

                // 폰트
                color: color($colors, custom-red);
            }
        }

        button.login {
            width: 39.5vw;
            display: inline-block;
        }

        button.register {
            width: 39.5vw;
            display: inline-block;
        }
    }

}
