<ion-header>
</ion-header>


<ion-content padding no-bounce>
  <img class="logo" src="./assets/imgs/intro/logo.png">

  <div *ngIf="setView==1">
    <form class="form">
      <input [(ngModel)]="loginEmail" name="loginEmail" type="text" placeholder="이메일">
      <input [(ngModel)]="loginPassword" name="loginPassword" type="password" placeholder="패스워드">
      <button (click)="login()" class="button login">로그인</button>
      <button (click)="registerPage()" class="button register">회원가입</button>
    </form>
  </div>

  <div *ngIf="setView==2">
    <form class="form">
      <input [(ngModel)]="email" name="email" type="text" placeholder="이메일">
      <input [(ngModel)]="password" name="password" type="password" placeholder="패스워드(특수문자포함 8~20자리)">
      <input [(ngModel)]="rePassword" name="rePassword" type="password" placeholder="패스워드 확인">
      <input [(ngModel)]="name" name="name" placeholder="이름(영문)">
      <button (click)="cancel()" class="button login">취소</button>
      <button (click)="register()" class="button register">가입</button>
    </form>
  </div>
  

</ion-content>