

<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="측정" tabIcon="custom-icon-measure"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="기록" tabIcon="custom-icon-history"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="설정" tabIcon="custom-icon-setting"></ion-tab>
</ion-tabs>
