page-scan {
  ion-list {
    margin-bottom: 0px !important;
  }
  div {
    text-align: center;
  }
}
.span-margin {
  font-size: 10px;
  max-width: 13px;
  min-width: 13px;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden !important;
  white-space: nowrap !important;
  color: rgba(255, 255, 255, 0);
}
.device-name {
  color: black;
  text-align: center;
}
