<ion-header>
  <ion-navbar>
    <ion-title>BLE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <button ion-button (click)="scan()" block color="mint">
    <ion-icon name="search"></ion-icon>
  </button>
  <p style="text-align: center">{{ currentHours }}h {{ currentMinutes }}m {{ currentSeconds }}s</p>
  <h4>{{ this.connectDevice }}</h4>
  <p>color level: {{ colorLevel }} | max pressure: {{ maxPressure }} | {{ kbs }}KB/s</p>

  <ion-list>
    <ion-item-sliding *ngFor="let item of deviceList">
      <button ion-item text-wrap (click)="connect(item.id, item.name)">
        <h2 class="device-name">{{ item.name }}</h2>
        <p>{{ item.id }}</p>
      </button>
    </ion-item-sliding>
  </ion-list>

<!--
<div style="border: 1px solid; background-color: hsl(253, 100%, 50%); font-size: 0;">
    <div *ngFor="let i of datas">
      <span class="span-margin" *ngFor="let j of i">
          <span [style.background-color] = heatMapColorforValue(j)>{{ j }}</span>
          <span [style.background-color] = heatMapHSL(j)>{{ j }}0</span>
      </span>
    </div>
</div>
-->

<div id="heatmap" style="margin-left: center; margin-right: center; height: 60%; position: relative;"></div>

<div style="font-size:0;">
  <div *ngFor="let i of datas">
    <span style="font-size: 10px;" *ngFor="let j of i">
      {{ j }}
    </span>
  </div>
</div>

</ion-content>
