page-connect-ble {
    text-align: center;

    .image {
        width: 60%;
        height: 60%;
    }

    .device-name {
        font-size: 2rem;
        margin-bottom: 2%
    }

    // 연결버튼
    .connect-button {
        margin-top: 5vh;
        background-color: color($colors, custom-red);
        border-radius: 2vw;
        width: 50%;
        height: 15%;
        margin-top: 1%;

        // 폰트
        color: white;
        font-size: 1.5rem;
    }
    .connect-button:active {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid color($colors, custom-red);
        color: color($colors, custom-red);
    }
}
