
<ion-content padding no-bounce>

  <img src="./assets/imgs/intro/cushion.png" class="image" (click)="connect()" />

  <p class="device-name">{{ deviceName }}</p>

  <button (click)="connect()" class="connect-button">연결하기</button>

</ion-content>
