page-home {
    text-align: center;

    .toolbar-background {
        opacity: 0 !important;
    }

    // 백그라운드
    ion-content {
        background-image: url("../assets/imgs/intro/background2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes slidein {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(0);
        }
      }

    // 로고
    .logo {
        background-position: center;
        width: 75vw;
        height: auto;
        margin-top: 14%;
        margin-bottom: 10%;
    }

    .app-title {
        color: white;
        font-weight: 400;
        font-size: 4rem;
    }

    .scan {
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .notice {
        color: white;
        font-size: 1.5rem;
        margin-top: 1%;
    }

    // 스킵버튼
    .skip-button {
        background-color: color($colors, custom-red);
        border-radius: 2vw;
        width: 80vw;
        height: 9vh;

        // 폰트
        color: white;
        font-size: 2rem;
    }
    .skip-button:active {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid color($colors, custom-red);

        // 폰트
        color: color($colors, custom-red);
    }

    // 슬라이드 페이지 표시
    .swiper-pagination-bullet {
        background-color: white;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: color($colors, custom-red);
    }
    
    // 슬라이드
    ion-slides {
        width: 80vw;
        height: 45vh;
        background-color: rgba(0, 0, 255, 0);
        margin-left: auto;
        margin-right: auto;
    }
    ion-slide {
        width: 80vw !important;
        height: 40vh !important;
        background-color: rgba(255, 255, 255, 0.7);
    }

    ion-slide .slide-image-thum {
        width: 50%;
        height: auto;
        background-position: center;
    }

    ion-slide .slide-image-search {
        width: 13%;
        height: auto;
        background-position: center;
    }

    ion-slide .slide-image-2 {
        width: 50%;
        height: auto;
        background-position: center;
    }

}

  