<ion-header>
</ion-header>

<ion-content padding no-bounce>
  <img class="logo" src="./assets/imgs/intro/logo.png">
  <!--<p class="app-title">Connection</p>-->

  <ion-slides pager>
    <ion-slide>
      <img src="./assets/imgs/intro/thum.png" class="slide-image-thum" (click)="findDevice()"/>
      <p class="scan" (click)="findDevice()">블루투스 스캔</p>
      <img src="./assets/imgs/intro/search.png" class="slide-image-search"/>
    </ion-slide>
    <ion-slide>
      <p class="scan">Empty</p>
    </ion-slide>
    <ion-slide>
      <p class="scan">Empty</p>
    </ion-slide>
    <ion-slide>
      <p class="scan">Empty</p>
    </ion-slide>
  </ion-slides>

  <p class="notice">블루투스를 켜 주세요</p>
  <p class="notice">'moreCushion'과 연결하세요</p>

  <button (click)="skip()" class="skip-button">건너뛰기</button>
</ion-content>