// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$modal-inset-width: 300px;
$modal-inset-height-small: 300px;
$modal-inset-min-width: 300px;
$modal-inset-min-height-small: 300px;
$modal-ios-border-radius: 2vw;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white:      #ffffff,
  light-light-gray: #ebebeb,
  light-gray: #d1d1d1,
  custom-red: #e84547,
  custom-red2: #f75e5e,
  custom-red3: #f07b7c,
  custom-red4: #ffa5a5,
  mint:       #2AB4A3
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-icon-color-active:  color($colors, custom-red);
$tabs-ios-tab-text-color-active:  color($colors, custom-red);
$loading-ios-spinner-crescent-color: color($colors, custom-red);
$loading-ios-content-font-weight: 400;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";
/*아이콘정의*/
ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="custom-icon-measure"] {
        mask-image: url('../assets/imgs/intro/measure.png');
    }
    &[class*="custom-icon-history"] {
        mask-image: url('../assets/imgs/intro/history.png');
    }
    &[class*="custom-icon-setting"] {
        mask-image: url('../assets/imgs/intro/setting.png');
    }
    &[class*="custom-icon-heart"] {
      mask-image: url('../assets/imgs/today-usage/heart.png');
    }
    &[class*="custom-icon-condition"] {
      mask-image: url('../assets/imgs/today-usage/condition.png');
    }
    &[class*="custom-icon-division"] {
      mask-image: url('../assets/imgs/today-usage/division.png');
    }
    &[class*="custom-icon-heatmap"] {
      mask-image: url('../assets/imgs/today-usage/heatmap.png');
    }
}

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
