page-history {

    .title {
        font-size: 2rem;
        text-align: center;
        padding-top: 2%;
    }

    ion-list {
        margin-bottom: 5% !important;
    }

    .item-header {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .item-label {
        font-size: 1.2rem;
        color: gray;
    }
    .item-label.end {
        text-align: right;
    }

    .chart {
        height: 13.5vh;
    }

    .button.right {
        float: right;
        color: gray;
    }

    .text.left {
        float: left;
        color: color($colors, mint);
        font-size: 2rem;
        text-align: center;
    }

    .vertical-line {
        display: inline-block;
        width: 1px;
        height: 5vh;
        text-align: center;
        background-color: gray;
    }

    .summary {
        text-align: center;
        display: inline-block;
        font-weight: bold;
        width: 44.5vw;
    }

    .summary.left {
        color: color($colors, mint);
        font-size: 3rem;
    }

    .summary.right {
        color: gray;
        font-size: 2rem;
    }
}
