<ion-header>
  <ion-navbar>
    <ion-title>기록</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <!-- icon button -->
  <div style="display: inline;">
      <button ion-button clear class="button right" (click)="iconClick(3)">주간</button>
      <button ion-button clear class="button right" (click)="iconClick(2)">월간</button>
      <button ion-button clear class="button right" (click)="iconClick(1)">연간</button>
  </div>

  <div *ngIf="setView==1">
      <h1 class="title">연간 기록</h1>
      <br style="clear: both;" />

      <chart [type]="type" [data]="data" [options]="options"></chart>
    
      <ion-list style="margin-bottom: 1%">
          <ion-list-header class="item-header">
            평균 자세 비율
          </ion-list-header>
      </ion-list>
    
      <chart [type]="typePie" [data]="dataPie" [options]="optionsPie" class="chart"></chart>
    
      <!-- <ion-list>
          <ion-list-header class="item-header">
            평균 상세 데이터
          </ion-list-header>
          <ion-item>
            <ion-label class="item-label">사용 시간</ion-label>
            <ion-label item-end class="item-label end">{{ usageDays }}일 {{ usageHours }}시간 {{ usageMinutes }}분</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">좋은 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ goodPostureAverage }}% </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">나쁜 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ badPostureAverage }}% </ion-label>
          </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-list-header class="item-header">
          요약
        </ion-list-header>
        <p class="summary left">{{ goodPostureAverage }}%</p>
        <p class="summary right">{{ usageHours }}시간 {{ usageMinutes }}분</p>
      </ion-list>
  </div>
  <div *ngIf="setView==2">
      <h1 class="title">월간 기록</h1>
      <br style="clear: both;" />
      
      <chart [type]="type" [data]="data" [options]="options"></chart>
    
      <ion-list style="margin-bottom: 1%">
          <ion-list-header class="item-header">
            평균 자세 비율
          </ion-list-header>
      </ion-list>
    
      <chart [type]="typePie" [data]="dataPie" [options]="optionsPie" class="chart"></chart>
    
      <!-- <ion-list>
          <ion-list-header class="item-header">
            평균 상세 데이터
          </ion-list-header>
          <ion-item>
            <ion-label class="item-label">사용 시간</ion-label>
            <ion-label item-end class="item-label end">{{ usageDays }}일 {{ usageHours }}시간 {{ usageMinutes }}분</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">좋은 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ goodPostureAverage }}% </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">나쁜 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ badPostureAverage }}% </ion-label>
          </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-list-header class="item-header">
          요약
        </ion-list-header>
        <p class="summary left">{{ goodPostureAverage }}%</p>
        <p class="summary right">{{ usageHours }}시간 {{ usageMinutes }}분</p>
      </ion-list>
  </div>
  <div *ngIf="setView==3">
      <h1 class="title">주간 기록</h1>
      <br style="clear: both;" />

      <chart [type]="type" [data]="data" [options]="options"></chart>
    
      <ion-list style="margin-bottom: 1%">
          <ion-list-header class="item-header">
            평균 자세 비율
          </ion-list-header>
      </ion-list>
    
      <chart [type]="typePie" [data]="dataPie" [options]="optionsPie" class="chart"></chart>
    
      <!-- <ion-list>
          <ion-list-header class="item-header">
            평균 상세 데이터
          </ion-list-header>
          <ion-item>
            <ion-label class="item-label">사용 시간</ion-label>
            <ion-label item-end class="item-label end">{{ usageDays }}일 {{ usageHours }}시간 {{ usageMinutes }}분</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">좋은 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ goodPostureAverage }}% </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="item-label">나쁜 자세 비율</ion-label>
            <ion-label item-end class="item-label end">{{ badPostureAverage }}% </ion-label>
          </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-list-header class="item-header">
          요약
        </ion-list-header>
        <p class="summary left">{{ goodPostureAverage }}%</p>
        <p class="summary right">{{ usageHours }}시간 {{ usageMinutes }}분</p>
      </ion-list>
  </div>
</ion-content>

