// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*사이드 스크롤 숨김*/
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

// global css
*{
  font-family: "AritaSans", Times, serif;
}

.toolbar {
  border-bottom: 1px solid black;
}

ion-title {
  font-weight: 400;
}

/*
// navPush backButton 색상 변경
ion-header ion-icon.back-button-icon.icon {
  color: black;
}
*/

ion-header ion-icon {
  color: black;
}

// Arita
@font-face {
  font-family: AritaSans;
  font-weight: 400;
  src: url("../assets//fonts//Arita-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: AritaSans;
  font-weight: 100;
  src: url("../assets//fonts//Arita-Medium.otf") format("opentype");
}
@font-face {
  font-family: AritaSans;
  font-weight: bold;
  src: url("../assets//fonts//Arita-Bold.otf") format("opentype");
}

// Montserrat
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 100;
  src: url("../assets/fonts/Montserrat-Light.otf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
}
