page-today-usage {
  ion-content {
    * {
      margin-bottom: 1%;
      text-align: center;
    }
    p {
      margin-top: 1%;
    }
    ion-list {
      margin-bottom: 1vh !important;
    }
    ion-item {
      border: 1px solid gray !important;
      width: 70vw !important;
      height: 4vh !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    ion-select {
      font-weight: 100;
      font-size: 3.5vw;
    }
    ion-label {
      text-align: left !important;
      font-weight: 100;
      font-size: 3.5vw;
    }
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.5vh !important;
  }

  .time-small {
    font-weight: 100;
    font-size: 3.5vw;
    color: gray
  }
  .time-small.main {
    font-size: 1.5rem !important;
    color: black !important;
    margin-bottom: 2vh !important;
  }
  .time-small.left {
    font-size: 1.2rem !important;
    float: left;
  }
  .time-small.right {
    font-size: 1.2rem !important;
    float: right;
  }
  

  .posture-state {
    font-size: 1.8rem;
    color: color($colors, mint);
    text-align: right;
  }

  .posture-state-main {
    font-size: 2rem !important;
    font-weight: bold;
    color: color($colors, mint);
    text-align: center;
    margin-top: 1%;
  }
  
  .good {
    font-size: 1.5rem;
    float: left;
  }
  .bad {
    font-size: 1.5rem;
    float: right;
  }

  .button {
    padding: 0;
  }
  .button.left {
    float: left;
    color: color($colors, custom-red);
  }
  .button.right {
    float: right;
    color: gray;
    margin-left: 5vw;
  }

  .progress-bar {
    background-color: color($colors, custom-red);
    text-align: left !important;
    height: 4vw;
    width: 100%;
    border-radius: 2vw;
  }
  .progress-bar span {
    background-color: color($colors, mint);
    display: inline-block;
    height: 100%;
    border-radius: 2vw;
    transition: width .2s ease-in-out;
  }

/* vital */
  .vital-good {
    color: color($colors, custom-red);
    width: 20vw;
  }
  .time-small.vital {
    font-weight: 400 !important;
    font-size: 4.5vw !important;
    color: color($colors, custom-red) !important;
  }
  .heart {
    display: inline-block;
    width: 45vw;
    color: color($colors, custom-red);
    font-size: 3.5vw;
  }
  .heart.card {
    vertical-align: auto;
    float: left;
    background-color: color($colors, custom-red);
    color: color($colors, custom-red3) !important;
    height: 25vw;
  }
  .heart-card-image {
    width: 20% !important;
    height: auto !important;
    margin-top: 10% !important;
  }
  .breath {
    display: inline-block;
    width: 45vw;
    color: color($colors, custom-red);
    font-size: 3.5vw;
  }
  .breath.card {
    vertical-align: auto;
    float: right;
    background-color: color($colors, custom-red2);
    color: color($colors, custom-red4) !important;
    height: 25vw;
  }
  .breath-card-image {
    width: 20% !important;
    height: auto !important;
    margin-top: 7% !important;
  }
  .card-in-text {
    font-weight: bold;
    font-size: 4vw;
    color: white;
  }

  /* condition */
  .condition-frame {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .condition {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1.1vh !important;
    display: inline-block;
    width: 22vw;
    border-radius: 4vw;
    font-size: 6vw;
    font-weight: 100;
    color: rgba($color: #000000, $alpha: 0);
  }

  /* division */
  .frame {
    background-color: color($colors, light-light-gray);
    width: 70vw;
    height: 25vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .frame.bottom {
    margin-bottom: 0 !important;
    background-color: color($colors, light-gray) !important;
    height: 30% !important;
    position: absolute;
    bottom: 0;
  }
  .frame-image {
    width: 30%;
    position: absolute;
    right: 35%;
    bottom: 20%;
  }

}
