
<ion-header>
  <ion-navbar>
    <ion-title>측정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <h1 class="title">오늘의 자세 측정</h1>

  <!-- 비율 게이지 -->
  <div class="progress-bar">
    <span [style.width]="posturePercentage + '%'"></span>
  </div>
  
  <div style="display: inline;">
    <p class="good">{{ posturePercentage }}%</p>
    <p class="bad">{{ badPosturePercentage }}%</p>
  </div>
  <br style="clear: both;" />

  <chart style="margin-top: 1.1vh" [type]="chart.type" [data]="chart.data" [options]="chart.options"></chart>

  <hr style="clear: both; margin-bottom: 0 !important;" />

  <!-- icon button -->
  <div style="display: inline;">
      <button ion-button clear class="button left" (click)="iconClick(1)"><ion-icon name="custom-icon-heart"></ion-icon></button>
      <button ion-button clear class="button right" (click)="iconClick(4)"><ion-icon name="custom-icon-heatmap"></ion-icon></button>
      <button ion-button clear class="button right" (click)="iconClick(3)"><ion-icon name="custom-icon-division"></ion-icon></button>
      <button ion-button clear class="button right" (click)="iconClick(2)"><ion-icon name="custom-icon-condition"></ion-icon></button>
  </div>

  <br style="clear: both;" />

  <!-- vital -->
  <div *ngIf="setView==1">
    <img src="./assets/imgs/today-usage/vital-good.png" class="vital-good" />
    <p class="time-small vital">{{ currentHours }} : {{ currentMinutes }} : {{ currentSeconds }}</p>
    <span class="heart">Heart</span>
    <span class="breath">Breath</span>
    <span class="heart card">
      <img src="./assets/imgs/today-usage/bpm.png" class="heart-card-image">
      <p class="card-in-text">{{ bpm }}</p>
      <p>bpm</p>
    </span>
    <span class="breath card">
      <img src="./assets/imgs/today-usage/respiration.png" class="breath-card-image">
      <p class="card-in-text">{{ respiration }}</p>
      <p>respiration</p>
    </span>
    <br style="clear: both;" />
  </div>

  <!-- condition -->
  <div *ngIf="setView==2">
      <p class="posture-state-main" id="greenRed">{{ postureMsg }}</p>
      <p class="time-small main">{{ currentHours }}시간 {{ currentMinutes }}분 {{ currentSeconds }}초</p>
      <div style="display: inline-block;" *ngFor="let i of section">
          <span class="condition" [style.background-color] = heatMapColorforValue(i)>{{ i }}</span>
      </div>
  </div>

  <!-- division -->
  <div *ngIf="setView==3">
    <p class="posture-state-main" id="greenRed">{{ postureMsg }}</p>
    <p class="time-small main">{{ currentHours }}시간 {{ currentMinutes }}분 {{ currentSeconds }}초</p>

    <div class="frame">
      <div class="frame bottom" *ngIf="stateImage == 'lefthigh'">
        <img src="./assets/imgs/today-usage/bad_02.png" class="frame-image">
      </div>
      <div class="frame bottom" *ngIf="stateImage == 'righthigh'">
        <img src="./assets/imgs/today-usage/bad_01.png" class="frame-image">
      </div>
      <div class="frame bottom" *ngIf="stateImage == 'fronthigh'">
        <img src="./assets/imgs/today-usage/bad_03.png" class="frame-image">
      </div>
      <div class="frame bottom" *ngIf="stateImage == 'good'">
        <img src="./assets/imgs/today-usage/good_01.png" class="frame-image">
      </div>
    </div>
  </div>

  <!-- heatmap -->
  <div *ngIf="setView==4">
    <p class="posture-state-main" id="greenRed">{{ postureMsg }}</p>
    <p class="time-small main">{{ currentHours }}시간 {{ currentMinutes }}분 {{ currentSeconds }}초</p>
    <div id="heatmap" style="margin-left: center; margin-right: center; height: 60%; position: relative;"></div>
  </div>

</ion-content>
