
<ion-header>
  <ion-navbar>
    <ion-title>설정</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <ion-card>
    <ion-item>
      <ion-avatar item-start (click)="setImage()">
        <img src="./assets/imgs/setting/choi.jpg">
      </ion-avatar>
      <h2>{{ userName }}</h2>
      <p>{{ userEmail }}</p>
      <button ion-button clear item-end class="edit-button" (click)="edit()">설정</button>
    </ion-item>
  </ion-card>

  <ion-list>
    <ion-list-header class="item-header">
      스마트 쿠션
    </ion-list-header>
    <ion-item>
      <ion-label class="item-label">쿠션 이름</ion-label>
      <ion-label item-end class="item-label end">{{ deviceName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="item-label">쿠션 배터리</ion-label>
      <ion-label item-end class="item-label end">{{ statusLevel }}%</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header class="item-header">
        알람
      </ion-list-header>
      <ion-item>
        <ion-label class="item-label">스트레칭 시간</ion-label>
        <ion-select class="item-label" [(ngModel)]="getUpDefault">
          <ion-option *ngFor="let getUpDefault of getUpEvery()">{{ getUpDefault }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="item-label">좋은 자세 80% 이하 경고</ion-label>
        <ion-select class="item-label" [(ngModel)]="postureDefault">
          <ion-option *ngFor="let postureDefault of posture()">{{ postureDefault }}</ion-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <button (click)="logout()" class="delete-button">로그아웃</button>
</ion-content>
