page-setting {
  .item-header {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .item-label {
    font-size: 1.2rem;
    color: gray;
  }
  .item-label.end {
    text-align: right;
  }
  .edit-button {
    padding: 0;
    color: color($colors, custom-red);
  }

  // 삭제버튼
  .delete-button {
    margin-top: 5vh;
    background-color: color($colors, custom-red);
    border-radius: 2vw;
    width: 100%;
    height: 9vh;
    margin-top: 1%;

    // 폰트
    color: white;
    font-size: 1.5rem;
  }
  .delete-button:active {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid color($colors, custom-red);
    color: color($colors, custom-red);
  }
}